<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akso.realwear">

    <application
        android:name=".app.app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".app.app.WelcomeActivity"
            android:theme="@style/splashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.app.MainBusinessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".app.app.workOrders.WorkOrderListActivity">
        </activity>
        <activity
            android:name=".app.app.orderDetails.WorkOrderDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".app.app.attachments.AttachmentsActivity"/>
        <activity
            android:name=".app.app.operations.OperationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".app.app.operationAttachments.OperationAttachmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".app.app.operationDetails.OperationDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

</manifest>